#! /usr/bin/env bash

<!--(if numberOfProcessors>1)-->
topoSet -dict system/patchPairZones.topoSetDict

funkySetFields -create -time 0 -field idSingleCpu -expression "id()"
pyFoamDecompose.py . |-numberOfProcessors-| --template=system/decomposeParDict.skeleton
pyFoamRunner.py --auto funkySetFields -create -time 0 -field cpuNr -expression "cpu()"
<!--(end)-->

pyFoamRunner.py --auto funkySetLagrangianField -time 0

pyFoamRunner.py --auto funkySetFields -time 0 -field nonMovedField -keepPatches -valuePatches inlet -expression "mag(pos().x)<0.005 ? 1 : 0"
pyFoamRunner.py --auto funkySetFields -time 0 -field staticField -keepPatches -valuePatches inlet -expression "mag(pos().x)<0.005 ? 1 : 0"
pyFoamRunner.py --auto funkySetFields -time 0 -field movedField -keepPatches -valuePatches inlet -expression "mag(pos().x)<0.005 ? 1 : 0"
pyFoamRunner.py --auto funkySetFields -time 0 -field movedField -keepPatches -expression "0"
pyFoamRunner.py --auto funkySetFields -time 0 -field movedSteadyField -keepPatches -valuePatches inlet -expression "mag(pos().x)<0.005 ? 1 : 0"
pyFoamRunner.py --auto funkySetFields -time 0 -field movedSteadyField -keepPatches -expression "0"
